body {
  background-color: #d4ffb2;
}

#email {
  margin-top: 50px;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 15px;
  width: 250px;
}

#loginBtn {
  display: block;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}

#loginBtn:hover {
  background-color: #f5deb3;
}

#loginBtn:active {
  background-color: white;
  transform: translateY(1px);
}

svg {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

h1 {
  font-size: 50px;
  color: #eeca50;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: #eeca50;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
}

h3 {
  font-size: 40px;
  color: #eeca50;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
}

#soilMoisture {
  text-align: center;
}

#lightLevel {
  text-align: center;
}

#motion {
  text-align: center;
}

#logoutBtn {
  display: block;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  margin-top: 25px;
}

#logoutBtn:hover {
  background-color: #f5deb3;
}

#logoutBtn:active {
  background-color: white;
  transform: translateY(1px);
}
